*.log
*.pid

.csslintrc
.editorconfig
.eslintignore
.eslintrc
.gitattributes
.jscsrc
.jshintignore
.jshintrc
.npm
.npmignore
.vscode

bin
chromedriver
data
dist/coverage
dist/docs
dist/plato
dist/specs
dist/styleguide
generators
gulp
gulpfile.js
jsdoc.json
karma.conf.js
karma.conf.dev.js
lib
node_modules
npm-shrinkwrap.json
src
selenium-server-standalone-*.jar
setup.js
setup-routes.js
tsconfig.json
tslint.json
typings
typings.json
webpack.config.client-hot.js
webpack.config.server.js
webpack.server.client-hot.js

