@import "susybase";
@import "toolkit";

.carousel {
    font-size: inherit;
    width : 100%;
    transition: all 0.5s;
    //height: 450px;
    //@include breakpoint($breakpoint-lte-medium) {
        height: 680px;
    //}
}


/* Webpack Global Modifiers for Slick */

.slick-slider {
    background: url(../../../../../../../node_modules/slick-carousel/slick/ajax-loader.gif);
}

.slick-slider .slick-list {
    opacity: 0;
    position: absolute;
}

.slick-slider.slick-initialized {
    background: none;
}

.slick-slider.slick-initialized .slick-list {
    opacity: 1;
    position: relative;
    transition: opacity 0.2s ease-in;
}

.slick-prev {
    left: 25px;
}

.slick-next {
    right: 25px;
}
