.rhs{
    float: right;
    display: inline;
    height: 30px;
}

.toggle_fullscreen_button{
    color: #fff;
    font-size: 0.9em;
    height: 30px;
    border: none;
    background: transparent;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
}