@import "toolkit";
@import "susybase";
.app {
    font-size: inherit;
    width: 100%;
    overflow: hidden;
    @include container;
    margin : 0;
    padding : 0;
    margin-top: 100px;
    /*max-width: 960px;*/
}