.toggle_playback{
      float: left;
      color: #fff;
      font-size: 1.3em;
      height: 30px;
      border: none;
      background: transparent;
      padding: 0 10px;
      cursor: pointer;
      outline: none;
}