.header {
    background: green;
    width: 100%;
    color: white;
    text-align: center;
    overflow : hidden;
    padding : 0;
    margin : 0;



    h1 {
        font-size: 36px;
        margin : 0;
        padding : 0;
        position : relative;
    }
    
}
