@import "susybase";
@import "toolkit";

$white: #fff;
$gray: #666;
$default-transition: all .4s ease-in-out;
$gutter-spacing:10px;

.gutter-spacing {
	background-color: $gray;
	height: 100%;
	width: auto;

	@include clearfix;
}

.image-container {
	position: relative;

	.background-ratio-adjustment {
		content: '';
		display: block;
		width: 100%;
	}

	> .background-image-container {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.background-image-container {
		height: 100%;
		line-height: 14px;
		overflow: hidden;

		.background-image {
			background-position: center center;
			background-size: cover;
			height: 100%;
			opacity: .5;
			width: 100%;
		}
	}
}
